In [26]:
from datascience import *

# Introduction to Jupyter 

<u>Jupyter Notebooks allow you to integrate your code and its output into a **single document** where you can run code, display the output, add explanations, fomulas, charts all in one place.Most importantly, this helps makes your work repeatable, shareable, and understandable.

Once you open, your Jupyter Notebook, there are two prominent features that may be new to you: 
1. The **kernel** is a computational engine that executes the code contained in your notebook.

<div class=" alert alert-info">
In the top right of your window, you can see a circle that indicates the status of your kernel. If the circle is empty (⚪), the kernel is idle and ready to execute code. If the circle is filled in (⚫), the kernel is busy running some code. 
</ div >

2. A **cell** contains code you can execute *using* the kernel, and/or any text that you may want to display. Cells form the body of a notebook.

### Cells 

Cells form the body of your notebook, and there are many things you can do with them,  include moving cells within the body of the noteboo, adding/deleting cells, etc. 

Take some time to play around with some of these features in the toolbar at the top of this page, and if you're not sure about what a specific feature does, just hover your mouse over it for a description of what it does ! 

#### Running Cells 

"Running a cell" is equivalent to pressing "Enter" on a calculator once you've typed in the expression you want to evaluate: it produces an output. 

1. When you run a **text cell**, it outputs clean, organized writing. 
2. When you run a **code cell**, it computes **all** of the expressions you want to evaluate, and can output the result of the computation.

**Exercise 1 :** This paragraph is in its own text cell.  Try editing it so that this sentence is the last sentence in the paragraph, and then click the "run cell" ▶ button or hold down `shift` + `return`.  This sentence, for example, should be deleted.  So should this one.

Try running the cell below.

In [1]:
print("Hello World!") # this is a code cell !

Hello World!

## Errors
Python is a language, and like natural human languages, it has rules.  It differs from natural language in two important ways:
1. The rules are *simple*.  You can learn most of them in a few weeks and gain reasonable proficiency with the language in a semester.
2. The rules are *rigid*.  If you're proficient in a natural language, you can understand a non-proficient speaker, glossing over small mistakes.  A computer running Python code is not smart enough to do that.

Whenever you write code, you'll make mistakes.  When you run a code cell that has errors, Python will sometimes produce error messages to tell you what you did wrong.

Errors are okay; even experienced programmers make many errors.  When you make an error, you just have to find the source of the problem, fix it, and move on.

We have made an error in the next cell.  Run it and see what happens.

In [2]:
print("This line is missing something."

SyntaxError: unexpected EOF while parsing (1867411798.py, line 1)

The last line of the error output attempts to tell you what went wrong.  The *syntax* of a language is its structure, and this `SyntaxError` tells you that you have created an illegal structure.  "`EOF`" means "end of file," so the message is saying Python expected you to write something more (in this case, a right parenthesis) before finishing the cell.

There's a lot of terminology in programming languages, but you don't need to know it all in order to program effectively. If you see a cryptic message like this, you can often get by without deciphering it.  

In the example above, we see that one source of a `SyntaxError` has to do with parentheses. 


**Exercise 2 :** Try to fix the code above so that you can run the cell and see the intended message instead of an error.

In [3]:
#Your code here

# Introduction to Python

#### In this section, we will explore some of the key operators in Python, and learn to aggregate multiple mathematical expressions into your own functions!

In a way, you can think of Python as a really fast calulcator that can perform complex arithmetic in a matter of seconds. So the same rules of PEMDAS and arithmetic that you may be already aware of still apply!

For each of the cells below, predict what each cell will output, and then run it too see if you were correct!

## Operators

In [4]:
3 + 2

5

In [5]:
8 - 1

7

In [6]:
5 / 2

2.5

In [7]:
7 * 2 + 3

17

In [8]:
6 / 3 + 1

3.0

In [9]:
5 * 2

10

In [10]:
2 ** 2 # this operator may be new to you ! what do you think it does ?

4

<div class=" alert alert-info">

As you may have already figured out, here are some of the key arithmetic operators in Python : 

- "+" --> addition (3 + 2) 
- "-" --> subtraction (
- "*" --> multiplication ( 3 * 2 = 6 ) 
- "**" --> power ( 2 ** 2  = 4, 3 ** 1 = 3, 3 ** 3 = 27 ) 
- "/"
Try running the cells below. You should run into an error. 
</ div >

In [11]:
9(2) + 1# we will learn more about why this errors when we learn about functions !

<>:1: SyntaxWarning: 'int' object is not callable; perhaps you missed a comma?
<>:1: SyntaxWarning: 'int' object is not callable; perhaps you missed a comma?
/tmp/ipykernel_139/4282509325.py:1: SyntaxWarning: 'int' object is not callable; perhaps you missed a comma?
  9(2) + 1# we will learn more about why this errors when we learn about functions !
/tmp/ipykernel_139/4282509325.py:1: SyntaxWarning: 'int' object is not callable; perhaps you missed a comma?
  9(2) + 1# we will learn more about why this errors when we learn about functions !
/tmp/ipykernel_139/4282509325.py:1: SyntaxWarning: 'int' object is not callable; perhaps you missed a comma?
  9(2) + 1# we will learn more about why this errors when we learn about functions !

TypeError: 'int' object is not callable

<div class= "alert alert-info">
    
Notice that the () and x operators do not work as we would expect them to on a normal calculator. 
Instead, it results in a `TypeError`. 
    <br>
So, when we are multiplying two numbers a and b, you must always use the *  operator.

The next, and final operator may be new to you : *%*.

<div class= "alert alert-info">

The expression a % b is read as : " a mod b " and upon evaluation, 
    returns the **remainder after dividing the left operand (a) by the right operand (b).**

Try running the cells below :

In [12]:
5 % 2 # 5 mod 2 will return the remainder after dividing 5 by 2

1

In [13]:
9 % 3 # 9 is divisible by 3, so we will have a remainder of 0 !

0

In [14]:
18 % 5

3

## Datatypes

As we have seen from above, Python has two real number types 
- **int:**	an integer of any size
- **float:**	a number with an optional fractional part

**An int never has a decimal point; a float always does**

Three limitations of float values:
1. They have limited size (but the limit is huge)
2. They have limited precision of 15-16 decimal places
3. After arithmetic, the final few decimal places can be wrong


Another important datatype in Python is **Strings**.  
A string value is a snippet of text of any length. They are represnted using either '' or "". Run the cells below

In [15]:
'a'

'a'

In [16]:
'word'

'word'

In [17]:
"there can be 2 sentences. Here's the second!"

"there can be 2 sentences. Here's the second!"

In [18]:
int('12') # Strings consisting of numbers can be converted to numbers

12

In [19]:
float('1.2') # Here's another example !

1.2

In [20]:
str(5) # Any value can be converted to a string

'5'

A common thing to do with Strings is **string concatenation**. String concatenation is the operation of joining character strings end-to-end. For example, the concatenation of "snow" and "ball" is "snowball".

In [21]:
'snow' + 'ball'

'snowball'

You can also generate the same word multiple times, like pizza a 100 times (only if this were possible in real life!)

In [22]:
'Pizza'*100

'PizzaPizzaPizzaPizzaPizzaPizzaPizzaPizzaPizzaPizzaPizzaPizzaPizzaPizzaPizzaPizzaPizzaPizzaPizzaPizzaPizzaPizzaPizzaPizzaPizzaPizzaPizzaPizzaPizzaPizzaPizzaPizzaPizzaPizzaPizzaPizzaPizzaPizzaPizzaPizzaPizzaPizzaPizzaPizzaPizzaPizzaPizzaPizzaPizzaPizzaPizzaPizzaPizzaPizzaPizzaPizzaPizzaPizzaPizzaPizzaPizzaPizzaPizzaPizzaPizzaPizzaPizzaPizzaPizzaPizzaPizzaPizzaPizzaPizzaPizzaPizzaPizzaPizzaPizzaPizzaPizzaPizzaPizzaPizzaPizzaPizzaPizzaPizzaPizzaPizzaPizzaPizzaPizzaPizzaPizzaPizzaPizzaPizzaPizzaPizza'

In [23]:
Try running the cell below. You should run into an error.

SyntaxError: invalid syntax (1456974431.py, line 1)

In [24]:
'Hello ' + 2

TypeError: can only concatenate str (not "int") to str

As stated in the `TypeError`, you cannot concatenate a non-String type to a String. 
In other words, you can only concatenate a String to another String. In this case, you need to cast the integer value to a String using str():

In [25]:
'Hello ' + str(2)

'Hello 2'

If you ever want ot verify the type of a datatype, the **type** function can tell you the type of a value

In [26]:
type(2)

int

In [27]:
type(2 + 2)

int

## Variables and Assignment Statements

In natural language, we have terminology that lets us quickly reference very complicated concepts.  We don't say, "That's a large mammal with brown fur and sharp teeth!"  Instead, we just say, "Bear!"

In Python, we do this with *assignment statements*. An assignment statement has a name on the left side of an `=` sign and an expression to be evaluated on the right.

In [28]:
ten = (3 + 2) * 2 + 1

If we now type the variable ten in a separate code cell, it should return the variable's value, after evaluating the expression we passed in.

In [29]:
ten

11

<div class="alert alert-info">
There are a few limitations to how we can name our variables : 
    <br>
    - A variable name must start with a letter or an underscore character (_)
    <br>
    - A variable name cannot start with a digit.
    <br>
    - A variable name can only contain alpha-numeric characters and underscores ( a-z, A-Z , 0-9 , and _ )
</ div >

If we decide we want to reassign the variable ten to a different value, we can do that:

In [30]:
ten = 8 # this reassigns ten's value from 11 to 8

In [31]:
ten

8

In [32]:
var_1, var_2 = 5, 7 # we can also assign variables in one line !

In [33]:
var_1

5

In [34]:
var_2

7

What if we try to type a random word in a code cell without putting it in quotes?

In [35]:
WOOHOO! # this will error

SyntaxError: invalid syntax (1904321618.py, line 1)

It throws out a `SyntaxError` because code cells think in terms of math, and any word not in quotes is considered to be a variable that stores information or means something. 

In this notebook, we haven't told it what Woohoo means -- it's just an empty variable holding no information, so it complains and says "I don't know what Woohoo is supposed to be."

**Exercise 3:** Predict the values of each variable : a, b, c, upon execution of the following code block !

a = 2 
b = 3 
a, b = b, a

In [36]:
print("value assigned to a")
print(a)
print("value assigned to b")
print(b)

value assigned to a

NameError: name 'a' is not defined

## Arrays 
Computers are most useful when you can use a small amount of code to *do the same action* to *many different things*.

In this course, you will learn to work with tables, and we will often use arrays to represent columns in a table so that we can conveniently operate on large collections of data as a group !

<div class="alert alert-info">

**Arrays** are how we put many values in one place so that we can operate on them as a group. For example, if `billions_of_numbers` is an array of numbers, the expression

    .18 * billions_of_numbers

gives a new array of numbers that contains the result of multiplying **each number** in `billions_of_numbers` by .18.  Arrays are not limited to numbers; we can also put all the words in a book into an array of strings.
</ div>

Concretely, an array is a **collection of values of the same type**.

### Making Arrays 

First, let's learn how to *manually* input values into an array. This typically isn't how programs work. Normally, we create arrays by loading them from an external source, like a data file.

To create an array by hand, call the function make_array. Each argument you pass to make_array will be in the array it returns. Run this cell to see an example:

In [37]:
make_array(0.987, 4.75, -1.5)

NameError: name 'make_array' is not defined

Each value in an array (in the above case, the numbers 0.987, 4.75, -1.5) is called an **element** of that array.

Arrays themselves are also values, just like numbers and strings.

 __That means you can assign them to names or use them as arguments to functions. For example, len(<some_array>) returns the number of elements in some_array.__

**Exercise 4:**  Make an array containing the five strings "Hello", ",", " ", "world", and "!". (The third one is a single space inside quotes.) Name it hello_world_components.

Note: If you evaluate hello_world_components, you'll notice some extra information in addition to its contents: dtype='<U5'. That's just NumPy's extremely cryptic way of saying that the data types in the array are strings.

In [38]:
#Complete Exercise 4 here

## Functions

Functions are useful when you want to repeat a series of steps on multiple different objects, but don't 
want to type out the steps over and over again. Many functions are built into Python already such as the table functions you will see later in this lab. You can also make your own functions. You won't have to define functions, but it's important to know how they work and how to understand what each does.

Here are some key things to keep in mind when working with functions : 
   
1. Functions generally take a set of **parameters** (also called inputs), which define the objects they will use when they are run.

2. Whenever we want to create new function, we start with a def statement, which follows this general syntax:

     def <function_name> (<parameter_1>, <parameter_2>, ...) :


Don't forget the colon at the end of the `def` statement !

The above feature is also more formally called the **signature** of a function. 
        
The **body** of the funciton should be indented inside of the def statement, as seen in the example below.

The following is a break-down of the very simple function called add_two below:

1. add_n_to_x is the name of the function
2. `x` and `n` in parentheses are the inputs (also called parameters): that you put into the function
3. The red text in triple quotes tells us how to use the function and is called a docstring -- it is essentially the instructions manual for a function
4. The expression next to return at the bottom is what the function evaluates to 

**Note : your function should always have a `return` statement! Otherwise, it will return `None` which is the Python equivalent to nothing.**

Now that you know the general structure for a function definition, here is how to read a docstring:

`Parameters` tell you details on what goes into the function
`Returns` tells you what the function outputs
`Example` provides an example of the function in use

In [39]:
def add_n_to_x(n, x): #This is the general syntax for wriitng your own function 
    """Adds n to  x.
    
    Parameters
    ----------
    x:
        The number we want to increment n by. 
    n:
        The given number that x will be added to.
        
    Returns
    -------
        A number which is n greater than x.
        
    Example
    -------
    >>> add_n_to_x(-1,2)
    1
    """
    return x + n

As before, using the docstring, what do you think each call to this function outputs ? Run each cell to see if you are correct !

In [40]:
add_n_to_x(-1, 2)

1

## Loops

If a code looks a little repetitive, we can use what is called a for loop, to have the computer do it for us! The code in the cell below does the exact same thing as the cell above, just in a shorter way!

In [48]:
for x in range(6): # Do the intented action 6 times
    print("hi!!")
    
#This performs the given action 6 times.

hi!!
hi!!
hi!!
hi!!
hi!!
hi!!

## Congratulations! You finished the notebook. 
You can now explore resources related to jupyter notebooks here: 

1. [BIDS on Jupyter](https://bids.berkeley.edu/research/project-jupyter)
2. [Offical website for Jupyter](https://jupyter.org/)
3. [Video by BIDS on the evolution of Jupyter Notebook](https://bids.berkeley.edu/events/jupyterlab-evolution-jupyter-notebook)

## Feedback Form